/* FONT FACES */

@font-face {
	font-family: Hallo Sans;
	src: url(../fonts/HalloSans.otf);
	font-weight: bold;
}

*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

a, a:focus, a:hover {
	text-decoration: none;
	-o-transition: all .4s;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    -ms-transition: all .4s;
    transition: all .4s;
}

#skrollr-body {
	min-height: 1px;
}

/* NAVBAR CSS */

.navbar {
	height: 85px;
	background-color: rgb(245, 245, 245);
	-webkit-box-shadow: 2px 2px 5px -1px rgba(56,56,56,1);
	-moz-box-shadow: 2px 2px 5px -1px rgba(56,56,56,1);
	box-shadow: 2px 2px 5px -1px rgba(56,56,56,1);
}

.navbar li:hover {
	-o-transition: all .4s;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    -ms-transition: all .4s;
    transition: all .4s;
}

.navbar li a {
	color: black;
	font-size: 25px;
	padding: 32px 60px; /* Will need to change for responsive to 32px 15px */ 
	font-weight: 300;
	text-decoration: none;
}

.navbar .navbar-brand {
	font-size: 35px;
	padding: 30px 0px;
	color: #E8780C;
}

/* PANEL CSS */

.page {
	width: 100%;
	position: relative;
}

/* ARROW CSS */

/*.arrow_box {
	position: absolute;
	background: #E8780C;
	top: 100%;
	left: 50%;

}

.arrow_box:after {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(232, 120, 12, 0);
	border-top-color: #E8780C;
	border-width: 50px;
	margin-left: -50px;
	-webkit-filter: drop-shadow(0px 3px 1px rgba(45,45,45,.75));
	filter: drop-shadow(0px 3px 1px rgba(45,45,45,.75));
}*/

/* HOME CSS */

#home {
	background-color: #E8780C;
	height: 100vh;
	position: relative;
	z-index: 2;
	-webkit-box-shadow: 2px 3px 5px -1px rgba(45,45,45,.5);
	-moz-box-shadow: 2px 3px 5px -1px rgba(45,45,45,.5);
	box-shadow: 2px 3px 5px 0px rgba(45,45,45,.5);
}

#home .infoWrapper {
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
}

.name {
	font-size: 60px;
	text-align: center;
	color: rgb(245, 245, 245);
	border-bottom: 2px solid rgb(245, 245, 245);
	border-right: 2px solid rgb(245, 245, 245);
	padding: 10px 25px 10px 25px;
	margin-bottom: 15px;
	text-shadow: 4px 4px 2px rgba(184, 95, 9, 0.59);
	-webkit-box-shadow: 2px 2px 5px -1px rgba(56,56,56,.5);
	-moz-box-shadow: 2px 2px 5px -1px rgba(56,56,56,.5);
	box-shadow: 2px 2px 5px -1px rgba(56,56,56,.5);
}

.typerInfo {
	padding: 10px 0px;
	font-size: 25px;
	color: #333;
	text-align: right;
}

.social {
	text-align: center;
	margin-top: 15px;
}

.social a {
	
	display: inline-block;
    width: 64px;
    height: 64px;
    margin: 3px;
    padding-top: 9px;
    border: 2px solid rgb(56, 56, 56);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 40px;
    color: rgb(56, 56, 56);
    line-height: 28px;
}
.social a:hover {
	outline: 0;
	background-color: rgb(245, 245, 245);
}
/* ABOUT CSS */

#about {
	background: transparent;
	overflow: hidden;
	position: relative;
}

#about .leftcont {
	height: 100vh;
	background-color: rgba(95, 95, 95, .5);
}

#about .rightcont {
	background-color: rgb(245, 245, 245);
	height: 150vh;
}

#about h1 {
	text-align: center;
	font-size: 90px;
	font-family: Hallo Sans;
	margin: 0px;
	padding-top: 20%;
}

/* WORK CSS */

#work {
	background: transparent;
}

#work .leftcont {
	height: 100vh;
	background-color: rgb(245, 245, 245);
}

#work .rightcont {
	background-color: blue;
	height: 150vh;
}

#work h1 {
	text-align: center;
	font-size: 90px;
	font-family: Hallo Sans;
	margin: 0px;
	padding-top: 20%;
}

/* CONTACT CSS */

#contact {
	background-color: rgba(95, 95, 95, .8);
	overflow: hidden;
}

#about, #work {
	min-height: 100vh;
	z-index: 1;
	position: relative;
}

#contact {
	min-height: 50vh;
	z-index: 1;
	position: relative;
}

/* Sticky shit */

.stick {
	position: fixed;
	top: 0;
	left: 0;
	z-index:10000;
}

.sticky-fix {
	bottom: 0;
	position: absolute;
}

@media only screen and (max-width: 768px) {
	.name {
		font-size: 80px;
	}

	.infoWrapper {
		width: 600px;
	}

	.typerInfo {
		font-size: 28px;
	}

	.navbar li a {
		padding: 32px 30px;
	}

	.navbar .navbar-brand {
		padding-left: 15px;
	}
}

@media only screen and (max-width: 424px) {
	.name {
		font-size: 44px;
	}

	.infoWrapper {
		width: 360px;
	}

	.typerInfo {
		font-size: 18px;
	}

	.social a {
		width: 48px;
    	height: 48px;
		font-size: 22px;
	}

	.navbar .navbar-brand {
		font-size: 28px;
	}

	.onMobileBrand {
		padding: 15px 0px 0px 15px !important;
	}

	.onMobileButton {
		margin-top: 9px;
	}

	.navbar li a {
		padding: 20px 30px;
	}
}

@media only screen and (max-width: 360px) {
	.name {
		font-size: 40px;
	}

	.infoWrapper {
		width: 275px;
	}

	.typerInfo {
		font-size: 14px;
	}

	.social a {
		width: 44px;
    	height: 44px;
		font-size: 20px;
	}

	.navbar .navbar-brand {
		font-size: 22px;
	}
}


@media only screen and (max-width: 320px) {
	.name {
		font-size: 40px;
	}

	.infoWrapper {
		width: 275px;
	}

	.typerInfo {
		font-size: 14px;
	}

	.social a {
		width: 44px;
    	height: 44px;
		font-size: 20px;
	}
}