*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

/* NAVBAR CSS */

.navbar {
	height: 85px;
	background-color: rgb(245, 245, 245);
	-webkit-box-shadow: 2px 2px 5px -1px rgba(56,56,56,1);
	-moz-box-shadow: 2px 2px 5px -1px rgba(56,56,56,1);
	box-shadow: 2px 2px 5px -1px rgba(56,56,56,1);
}

.navbar li a {
	color: black;
	font-size: 25px;
	padding: 32px 60px; /* Will need to change for responsive to 32px 15px */ 
	font-weight: 300;
	text-decoration: none;
}

.navbar .navbar-brand {
	font-size: 35px;
	padding: 30px 0px;
	color: #666262;
}

/* PANEL CSS */

.page {
	width: 100%;
	position: relative;
}

/* ARROW CSS */

.arrow_box {
	position: absolute;
	background: #E8780C;
	top: 100%;
	left: 50%;

}

.arrow_box:after {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(232, 120, 12, 0);
	border-top-color: #E8780C;
	border-width: 50px;
	margin-left: -50px;
	-webkit-filter: drop-shadow(0px 3px 1px rgba(45,45,45,.75));
	filter: drop-shadow(0px 3px 1px rgba(45,45,45,.75));
}

/* HOME CSS */

#home {
	background-color: #E8780C;
	height: 93vh;
	display: inline-block;
	position: relative;
	z-index: 2;
	-webkit-box-shadow: 2px 3px 5px -1px rgba(45,45,45,1);
	-moz-box-shadow: 2px 3px 5px -1px rgba(45,45,45,1);
	box-shadow: 2px 3px 5px 0px rgba(45,45,45,1);
}

#home .infoWrapper {
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
	height:250px;
}

.name {
	font-size: 60px;
	text-align: center;
	color: rgb(245, 245, 245);
	border-bottom: 2px solid rgb(245, 245, 245);
	border-right: 2px solid rgb(245, 245, 245);
	padding: 10px 25px 10px 25px;
}

.typerInfo {
	padding: 10px 0px;
	font-size: 25px;
	color: #333;
	text-align: right;
}
/* WORK CSS */

#work {
	background-color: rgba(95, 95, 95, 1);
}

#work, #about, #contact {
	height: 100vh;
	z-index: 1;
	position: relative;
}

