/* FONT FACES */

@font-face {
	font-family: Hallo Sans;
	src: url(../fonts/HalloSans.otf);
	font-weight: bold;
}

/* GLOBAL STYLES */

*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

a, a:focus, a:hover {
	text-decoration: none;
	-o-transition: all .4s;
	-moz-transition: all .4s;
	-webkit-transition: all .4s;
	-ms-transition: all .4s;
	transition: all .4s;
}

#skrollr-body {
	min-height: 1px;
}

::selection {
	background-color: rgba(255, 132, 13, .6); /* WebKit/Blink Browsers */
}
::-moz-selection {
	background-color: rgba(255, 132, 13, .6); /* Gecko Browsers */
}

.fa {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

/* NAVBAR CSS */

.navbar {
	height: 85px;
	background-color: rgb(255, 255, 255);
	-webkit-box-shadow: 2px 2px 5px -1px rgba(56,56,56,1);
	-moz-box-shadow: 2px 2px 5px -1px rgba(56,56,56,1);
	box-shadow: 2px 2px 5px -1px rgba(56,56,56,1);
	-o-transition: all .4s;
	-moz-transition: all .4s;
	-webkit-transition: all .4s;
	-ms-transition: all .4s;
	transition: all .4s;
}

.navbar li:hover {
	-o-transition: all .4s;
	-moz-transition: all .4s;
	-webkit-transition: all .4s;
	-ms-transition: all .4s;
	transition: all .4s;
	background-color: rgb(225, 225, 225);
}

.navbar li a {
	color: black;
	font-size: 25px;
	padding: 32px 60px; /* Will need to change for responsive to 32px 15px */
	font-weight: 300;
	text-decoration: none;
	background-color: rgb(255, 255, 255);
}

.navbar .navbar-brand {
	font-size: 35px;
	padding: 30px 0px;
	color: rgba(9, 112, 84, .7);
}

.navbar-nav {
	margin: 0px -15px !important;
}

.navbar .navbar-brand:hover {
	color: rgba(9, 112, 84, 1);
}

nav.navbar.shrink {
	height: 60px;
}

nav.navbar li a.shrink {
	padding: 19.5px 60px;
}

nav.navbar .navbar-brand.shrink {
	padding: 19px 0px;
}

/* PANEL CSS */

.page {
	width: 100%;
	position: relative;
}

/* ARROW CSS */

/*.arrow_box {
	position: absolute;
	background: #E8780C;
	top: 100%;
	left: 50%;

}

.arrow_box:after {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(232, 120, 12, 0);
	border-top-color: #E8780C;
	border-width: 50px;
	margin-left: -50px;
	-webkit-filter: drop-shadow(0px 3px 1px rgba(45,45,45,.75));
	filter: drop-shadow(0px 3px 1px rgba(45,45,45,.75));
	}*/

	/* HOME CSS */

	#home {
		/*background: url(../img/pattern-3.png) rgba(255, 132, 13, 1);*/
		background: rgba(255, 132, 13, 1);
		height: 100vh;
		position: relative;
		z-index: 2;
		-webkit-box-shadow: 2px 3px 5px -1px rgba(45,45,45,.5);
		-moz-box-shadow: 2px 3px 5px -1px rgba(45,45,45,.5);
		box-shadow: 2px 3px 5px 0px rgba(45,45,45,.5);
		z-index: 3;
	}

	#home .infoWrapper {
		position: absolute;
		top: 50%;
		left:50%;
		transform: translate(-50%, -50%);
	}

	.name {
		font-size: 60px;
		text-align: center;
		color: white;
		border-bottom: 2px solid white;
		border-right: 2px solid white;
		padding: 10px 25px 10px 25px;
		margin-bottom: 15px;
		text-shadow: 4px 4px 2px rgba(56, 56, 56, .4);
		-webkit-box-shadow: 2px 2px 5px -1px rgba(56,56,56,.5);
		-moz-box-shadow: 2px 2px 5px -1px rgba(56,56,56,.5);
		box-shadow: 2px 2px 5px -1px rgba(56,56,56,.5);
	}

	.typerInfo {
		padding: 10px 0px;
		font-size: 22px;
		color: #333;
		text-align: left;
	}

	#home .social {
		text-align: center;
		margin-top: 15px;
	}

	.social a {

		display: inline-block;
		width: 64px;
		height: 64px;
		margin: 3px;
		padding-top: 9px;
		border: 2px solid rgb(56, 56, 56);
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		font-size: 40px;
		color: rgb(56, 56, 56);
		line-height: 28px;
		position: relative;
	}
	.social a:hover {
		outline: 0;
		background-color: white;
	}

	/* ABOUT CSS */

	#about .container-fluid {
		padding-left: 100px;
		padding-right: 100px;
	}

	#about .heading {
		height: 175px;
	}

	#about .leftcont {
		height: 100vh;
		background-color: rgba(255, 132, 13, .6);
		z-index: 3;
	}

	#about .rightcont {
		background-color: rgb(255, 255, 255);
		height: auto;
		z-index: 2;
	}

	#about h1 {
		text-align: center;
		font-size: 60px;
		font-family: Open Sans;
		margin: 0px;

	}

	#about .funfact1 {
		position: relative;
	}

	#about .social {
		bottom: 150px;
		width: 281px;
		margin: 365px auto 0px auto;
	}

	.aboutwrap {
		position: absolute;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}

	.selfie {
		display: inline-block;
		position: absolute;
		top: 175px;
		right: -75px;
		max-width: 150px;
		max-height: 193px;
	}

	/*.funfact {
		border: 2px solid rgba(56,56,56,.6);
		padding: 20px 20px 0px 20px;
		border-radius: 10px;
		-webkit-box-shadow: 5px 5px 7px 2px rgba(207,207,207,1);
		-moz-box-shadow: 5px 5px 7px 2px rgba(207,207,207,1);
		box-shadow: 5px 5px 7px 2px rgba(6,69,52,.4);
		min-height: 580px;
		background-color: rgb(250, 250, 250);
		}*/

		.aboutMe p {
			font-size: 20px;
			margin-bottom: 30px;
		}

		.aboutMe ul {
			margin-left: 25px;
		}

		.aboutMe li {
			font-size: 20px;
		}

		.aboutMe h2 {
			display: inline-block;
			margin: 0px 15px 0px 15px;
		}

		.aboutMe h2.keyboardLooksOdd {
			display: inline-block;
			margin: 0px 0px 0px 15px;
		}

		.aboutMe .frame {
			height: 48px;
			width: 100%;
			white-space: nowrap;
			display: inline-block;
			vertical-align: middle;
			text-align: center;
			margin-bottom: 35px;
		}

		.aboutMe .img {
			margin-top: -15px;
		}

		#about .col-lg-8 {
			padding-left: 0px;
			padding-right: 0px;
		}

		.aboutMeSectionFirst {
			padding: 85px 160px 85px 225px;
		}

		.aboutMeSection {
			padding: 85px 160px 85px 225px;
			background-color: rgba(9, 112, 84, .35);
		}

		.aboutMeSectionAlt {
			padding: 85px 160px 85px 225px;
		}

		#about {
			min-height: 100vh;
			z-index: 2;
			background-color: transparent;
			height: auto;
			overflow: hidden;
		}

		#about .social a {
			width: 85px;
			height: 85px;
			font-size: 45px;
			padding-top: 18px;
			padding-left: 20px;
		}

		/* work */

		#work {
			height: 100%;
			z-index: 2;
			overflow: hidden;
			background-color: rgba(9, 112, 84, .35);
		}

		#work h1 {
			margin-top: 95px;
			font-size: 70px;
			text-align: center;
		}

		.workwrap {
			width: 100%;
			overflow: hidden;
		}

		#work .projects {
			width: 100%;
			overflow: hidden;
			margin-top: 25px;
		}

		#work .piece {
			display: inline-block;
			height: 285px;
			margin: 25px 0px 0px 25px;
			overflow: hidden;
			background-color: white;
			-webkit-transition: all 0.35s ease-in-out;
			-moz-transition: all 0.35s ease-in-out;
			-o-transition: all 0.35s ease-in-out;
			-ms-transition: all 0.35s ease-in-out;
			transition: all 0.35s ease-in-out;
		}

		#work .cancel {
			position: absolute;
			display: inline-block;
			top: 25px;
			right: 25px;
		}

		#work h1.projecttitle {
			font-size: 60px;
			margin-top:30px;
		}

		#work .screenshot {
			width: 100%;
			height: 100%;
			margin-top: 25px;
			display: block;
			margin: 25px auto 0px auto;
		}

		#work .gifscreenshot {
			width: 366px;
			height: 612px;
			display: block;
			margin: 25px auto 0px auto;
		}

		#work .gifscreenshot2 {
			width: 316px;
			height: 564px;
			display: block;
			margin: 25px auto 0px auto;
		}

		#work .pill {
			margin: 15px 5px 0px 5px;
			border-radius: 500px;
			border: 1px solid black;
			overflow: hidden;
		}

		#work .pill a {
			display: inline-block;
			height: 37.5px;
			line-height: 37.5px;
			text-align: center;
			vertical-align: middle;
			color: black;
			padding: 0px 15px;
		}

		#work h3 {
			font-size: 22px;
			display: inline-block;
			line-height: 37.5px;
			margin-top: 15px;
			margin-bottom: 15px;
		}

		#work .description {
			padding-bottom: 25px;
		}

		#work .description ul {
			font-size: 18px;
			margin-left: 20px;
		}

		#work .description p {
			font-size: 18px;
		}

		#work .pill a:hover {
			background-color: rgba(255, 132, 13, .6);
		}

		.projectrow {
			display: inline;
		}

		.piece img {
			width: 100%;
		}

		.row-centered {
			text-align:center;
		}

		.col-centered {
			display:inline-block;
			float:none;
			padding: 0px !important;
		}

		/* Sticky shit */

		.stick {
			position: fixed;
			top: 0;
			left: 0;
			z-index:10000;
			-webkit-transition: all 0.35s ease-in-out;
			-moz-transition: all 0.35s ease-in-out;
			-o-transition: all 0.35s ease-in-out;
			-ms-transition: all 0.35s ease-in-out;
			transition: all 0.35s ease-in-out;
		}

		.sticky-fix {
			bottom: 0;
			position: absolute;
		}

		.mask-overlay{
			position: absolute;
			z-index: 50;
			height: 100%;
			width:100%;
			top: 0;
			background-color: rgba(0, 0, 0, .5);
			opacity: 0;
			-webkit-transition: all 0.35s ease-in-out;
			-moz-transition: all 0.35s ease-in-out;
			-o-transition: all 0.35s ease-in-out;
			-ms-transition: all 0.35s ease-in-out;
			transition: all 0.35s ease-in-out;
		}

		.piece:hover .mask-overlay {
			opacity: .7;
			-webkit-transition: all 0.35s ease-in-out;
			-moz-transition: all 0.35s ease-in-out;
			-o-transition: all 0.35s ease-in-out;
			-ms-transition: all 0.35s ease-in-out;
			transition: all 0.35s ease-in-out;
		}

		.piece:hover .social-icons a i {
			opacity: 0.7;
			-webkit-transition: all 0.35s ease-in-out;
			-moz-transition: all 0.35s ease-in-out;
			-o-transition: all 0.35s ease-in-out;
			-ms-transition: all 0.35s ease-in-out;
			transition: all 0.35s ease-in-out;
		}

		.social-icons {
			position: absolute;
			z-index: 60;
			top: 50%;
			width: 100%;
			height: 100%;
			left: 50%;
			display:inline-block;
			transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			text-align: center;
		}

		.social-icons a {
			font-size: 35px;
			color: #fff;
			width: 100%;
			height: 100%;
			display: inline-block;
			padding: 0px 10px;
		}

		.social-icons .fa-share-square-o {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			opacity: 0;
			left: 0;
		}

		/* SLIDER */

		#work .slider {
			margin-top: 15px;
		}


		/* ANIMATIONS */

		.work-home {
			overflow: hidden;
			padding-bottom: 95px;
		}

		.work-spotter {
			background-color: rgb(250, 250, 250);
		}

		.work-factsoftoday, .work-beesdesign, .work-shoppingcart {
			background-color: rgb(56, 56, 56);
			color: white !important;
		}

		.work-factsoftoday .pill a, .work-beesdesign .pill a, .work-shoppingcart .pill a {
			color: rgb(250, 250, 250) !important;
		}

		.work-factsoftoday li a {
			color: rgba(255, 132, 13, 1);;
		}

		.work-factsoftoday .pill, .work-beesdesign .pill, .work-shoppingcart .pill {
			border-color: rgb(250, 250, 250) !important;
		}

		.work-medxport {
			background-color: rgb(250, 250, 250);
		}

		.work-mychef {
			background-color: rgb(56, 56, 56);
			color: white !important;
		}

		.work-mychef .pill a {
			color: rgb(250, 250, 250) !important;
		}

		.work-mychef .pill {
			border-color: rgb(250, 250, 250) !important;
		}

		/* rotate and fall */
		@-webkit-keyframes rotateFall {
			0% { -webkit-transform: rotateZ(0deg); }
			20% { -webkit-transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; }
			40% { -webkit-transform: rotateZ(17deg); }
			60% { -webkit-transform: rotateZ(24deg); }
			100% { -webkit-transform: translateY(100%) rotateZ(17deg); }
		}
		@-moz-keyframes rotateFall {
			0% { -moz-transform: rotateZ(0deg); }
			20% { -moz-transform: rotateZ(10deg); -moz-animation-timing-function: ease-out; }
			40% { -moz-transform: rotateZ(17deg); }
			60% { -moz-transform: rotateZ(16deg); }
			100% { -moz-transform: translateY(100%) rotateZ(17deg); }
		}
		@keyframes rotateFall {
			0% { transform: rotateZ(0deg); }
			20% { transform: rotateZ(10deg); animation-timing-function: ease-out; }
			40% { transform: rotateZ(17deg); }
			60% { transform: rotateZ(16deg); }
			100% { transform: translateY(100%) rotateZ(17deg); }
		}

		/* scale up */
		@keyframes scaleUp {
			from 		{ opacity: 0.3; transform: scale(0.8); }
		}
		@-moz-keyframes scaleUp {
			from 		{ opacity: 0.3; -moz-transform: scale(0.8); }
		}
		@-webkit-keyframes scaleUp {
			from 		{ opacity: 0.3; -webkit-transform: scale(0.8); }
		}

		/* slide in from the right */
		@keyframes slideInRight {
			from 	{ transform:translateX(100%); }
			to 		{ transform: translateX(0); }
		}
		@-moz-keyframes slideInRight {
			from 	{ -moz-transform:translateX(100%); }
			to 		{ -moz-transform: translateX(0); }
		}
		@-webkit-keyframes slideInRight {
			from 	{ -webkit-transform:translateX(100%); }
			to 		{ -webkit-transform: translateX(0); }
		}

		/* slide in from the bottom */
		@keyframes slideInUp {
			from 	{ transform:translateY(100%); }
			to 		{ transform: translateY(0); }
		}
		@-moz-keyframes slideInUp {
			from 	{ -moz-transform:translateY(100%); }
			to 		{ -moz-transform: translateY(0); }
		}
		@-webkit-keyframes slideInUp {
			from 	{ -webkit-transform:translateY(100%); }
			to 		{ -webkit-transform: translateY(0); }
		}

		/* slide out from the left */
		@keyframes slideOutLeft {
			to 		{ transform: translateX(-100%); }
		}
		@-moz-keyframes slideOutLeft {
			to 		{ -moz-transform: translateX(-100%); }
		}
		@-webkit-keyframes slideOutLeft {
			to 		{ -webkit-transform: translateX(-100%); }
		}

		/* rotate out newspaper */
		@-webkit-keyframes rotateOutNewspaper {
			to { -webkit-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
		}
		@-moz-keyframes rotateOutNewspaper {
			to { -moz-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
		}
		@keyframes rotateOutNewspaper {
			to { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
		}

		/* fade out */

		@keyframes fadeOut {
			from 	{ opacity: 1; }
			to 		{ opacity: 0; }
		}
		@-moz-keyframes fadeOut {
			from 	{ opacity: 1; }
			to 		{ opacity: 0; }
		}
		@-webkit-keyframes Out {
			from 	{ opacity: 1; }
			to 		{ opacity: 0; }
		}

		/* fade in */

		@keyframes fadeIn {
			from 	{ opacity: 0; }
			to 		{ opacity: 1; }
		}
		@-moz-keyframes fadeIn {
			from 	{ opacity: 0; }
			to 		{ opacity: 1; }
		}
		@-webkit-keyframes fadeIn {
			from 	{ opacity: 0; }
			to 		{ opacity: 1; }
		}

		/* this is enough im tired of making animations */

		/* Main -------------------------- */
		.work-home.ng-leave {
			-webkit-animation:fadeOut 0.5s both ease-in;
			-moz-animation:fadeOut 0.5s both ease-in;
			animation:fadeOut 0.5s both ease-in;
		}

		.work-home.ng-enter {
			-webkit-animation:fadeIn 0.5s both ease-in;
			-moz-animation:fadeIn 0.5s both ease-in;
			animation:fadeIn 0.5s both ease-in;
		}

		/* FactsOfToday -------------------------- */
		.work-factsoftoday.ng-leave {
			-webkit-animation:fadeOut 0.5s both ease-in;
			-moz-animation:fadeOut 0.5s both ease-in;
			animation:fadeOut 0.5s both ease-in;
		}
		.work-factsoftoday.ng-enter {
			-webkit-animation:fadeIn 0.5s both ease-in;
			-moz-animation:fadeIn 0.5s both ease-in;
			animation:fadeIn 0.5s both ease-in;
		}

		/* myChef ------------------------ */
		.work-mychef.ng-leave {
			-webkit-animation:fadeOut 0.5s both ease-in;
			-moz-animation:fadeOut 0.5s both ease-in;
			animation:fadeOut 0.5s both ease-in;
		}
		.work-mychef.ng-enter {
			-webkit-animation:fadeIn 0.5s both ease-in;
			-moz-animation:fadeIn 0.5s both ease-in;
			animation:fadeIn 0.5s both ease-in;
		}

		/* Spotter ---------------------- */
		.work-spotter.ng-leave {
			-webkit-animation:fadeOut 0.5s both ease-in;
			-moz-animation:fadeOut 0.5s both ease-in;
			animation:fadeOut 0.5s both ease-in;
		}
		.work-spotter.ng-enter {
			-webkit-animation:fadeIn 0.5s both ease-in;
			-moz-animation:fadeIn 0.5s both ease-in;
			animation:fadeIn 0.5s both ease-in;
		}

		/* MedxPort ------------------------ */
		.work-medxport.ng-leave {
			-webkit-animation:fadeOut 0.5s both ease-in;
			-moz-animation:fadeOut 0.5s both ease-in;
			animation:fadeOut 0.5s both ease-in;
		}
		.work-medxport.ng-enter {
			-webkit-animation:fadeIn 0.5s both ease-in;
			-moz-animation:fadeIn 0.5s both ease-in;
			animation:fadeIn 0.5s both ease-in;
		}

		/* Bee's Design ------------------------ */
		.work-beesdesign.ng-leave {
			-webkit-animation:fadeOut 0.5s both ease-in;
			-moz-animation:fadeOut 0.5s both ease-in;
			animation:fadeOut 0.5s both ease-in;
		}
		.work-beesdesign.ng-enter {
			-webkit-animation:fadeIn 0.5s both ease-in;
			-moz-animation:fadeIn 0.5s both ease-in;
			animation:fadeIn 0.5s both ease-in;
		}

		/* Shopping Cart ------------------------ */
		.work-shoppingcart.ng-leave {
			-webkit-animation:fadeOut 0.5s both ease-in;
			-moz-animation:fadeOut 0.5s both ease-in;
			animation:fadeOut 0.5s both ease-in;
		}
		.work-shoppingcart.ng-enter {
			-webkit-animation:fadeIn 0.5s both ease-in;
			-moz-animation:fadeIn 0.5s both ease-in;
			animation:fadeIn 0.5s both ease-in;
		}


		@media only screen and (max-width: 1500px) {

			.aboutMeSectionFirst {
				padding: 85px 100px 85px 165px;
			}

			.aboutMeSection {
				padding: 85px 100px 85px 165px;
			}

			.aboutMeSectionAlt {
				padding: 85px 100px 85px 165px;
			}

			.name {
				font-size: 40px;
			}

			.infoWrapper {
				width: 600px;
			}

			.typerInfo {
				font-size: 19px;
			}

			#home .social a {
				width: 52px;
				height: 52px;
				font-size: 28px;
				padding-top: 8px;
			}

			.navbar-header {
				padding-left: 20px;
			}

			.navbar .navbar-brand {
				font-size: 28px;
			}

			.onMobileBrand {
				padding: 15px 0px 0px 15px !important;
			}

			.onMobileButton {
				margin-top: 9px !important;
			}

			.navbar li a {
				padding: 32px 30px;
			}

			#about h1 {
				text-align: center;
				font-size: 55px;
				font-family: Open Sans;
			}

			#work h1 {
				text-align: center;
				font-size: 70px;
				font-family: Open Sans;
				margin-top: 95px;
			}

			#about .social {
				width: 270px;
				margin-top: 110px;
			}

			#about .social a, #work .social a {
				width: 80px;
				height: 80px;
				font-size: 45px;
				padding-top: 13px;
				padding-left: 19px;
			}

			.aboutMe {

			}

			.aboutMe p, .aboutMe li {
				font-size: 20px;
			}

			#work .cancel {
				position: absolute;
				display: inline-block;
				margin-top: 15px;
				margin-left:5px;
			}

			#work .cancel img{
				width: 16px;
				height: 16px;
			}

			#work h1.projecttitle {
				font-size: 50px;
				margin-top:30px;
			}

			#work .screenshot {
				width: 100%;
				height: 100%;
				margin-top: 25px;
				display: block;
				margin: 25px auto 0px auto;
			}

			#work .screenshot {
				width: 100%;
				height: 100%;
				margin-top: 25px;
				display: block;
				margin: 25px auto 0px auto;
			}

			#work .pill {
				margin-top: 17px;
				/*padding: 15px 40px;*/
				border-radius: 500px;
				border: 1px solid black;
				overflow: hidden;

				margin-bottom: 15px;
			}

			#work .pill a {
				display: block;
				width: 190px;
				height: 55px;
				line-height: 50px;
				font-size: 15px;
				text-align: center;
				color: black;
			}

			#work h3 {
				font-size: 24px;
				display: inline-block;
				line-height: 50px;
				margin-top: 15px;
				margin-bottom: 0px;
			}

			#work .description p, #work .description ul {
				font-size: 18px;
			}
		}

		@media only screen and (max-width: 768px) {
			.name {
				font-size: 80px;
			}

			.infoWrapper {
				width: 600px;
			}

			.typerInfo {
				font-size: 21px;
			}

			#home .social a {
				width: 52px;
				height: 52px;
				font-size: 28px;
				padding-top: 8px;
			}

			.navbar-header {
				padding-left: 20px;
			}

			.navbar .navbar-brand {
				font-size: 28px;
			}

			.onMobileBrand {
				padding: 15px 0px 0px 15px !important;
			}

			.onMobileButton {
				margin-top: 9px;
			}

			.navbar li a {
				padding: 32px 30px;
			}

			#about h1 {
				text-align: center;
				font-size: 80px;
				font-family: Open Sans;
				margin: 0px;
			}

			#about .social {
				width: 400px;
			}

			#about .social a, #work .social a {
				width: 110px;
				height: 110px;
				font-size: 70px;
				padding-top: 18px;
				padding-left: 23px;
			}

			.aboutMe {

			}

			.aboutMe p, .aboutMe li{
				font-size: 24px;
			}

			.aboutMeSectionFirst {
				padding: 25px 25px 0px 25px;
			}

			.aboutMeSection {
				padding: 25px 25px 0px 25px;
			}

			.aboutMeSectionAlt {
				padding: 25px 25px 0px 25px;
			}

			.aboutMe h2{
				margin: 0px 2px 0px 2px;
			}

			.aboutMe p{
				margin-bottom: 0px;
				padding-bottom: 25px;
			}

			.aboutMe .frame {
				text-align: center;
			}

			#work .description p {
				font-size: 20px;
			}

			#work .description ul {
				font-size: 20px;
			}

			.social-icons a {
				opacity: 1 !important;
				-webkit-transform: scale(1) !important;
				-moz-transform: scale(1) !important;
				-ms-transform: scale(1) !important;
				-o-transform: scale(1) !important;
				transform: scale(1) !important;
				color: rgba(9, 112, 84, 1) !important;
			}

			#work h1 {
				margin-top: 95px;
				font-size: 70px;
			}

			#work .piece {
				height: auto;
			}
		}

		@media only screen and (max-width: 424px) {

			.name {
				font-size: 40px;
			}

			#work h2 {
				font-size: 20px;
			}

			#work .description ul {
				font-size: 16px;
			}

			nav.navbar .navbar-toggle {
				margin-top: 25px;
				-o-transition: all .4s;
				-moz-transition: all .4s;
				-webkit-transition: all .4s;
				-ms-transition: all .4s;
				transition: all .4s;
			}

			.infoWrapper {
				width: 275px;
			}

			.typerInfo {
				font-size: 14px;
			}

			#home .social a {
				width: 44px;
				height: 44px;
				font-size: 20px;
				padding-top: 5px;
			}

			#about .social a {
				width: 58px;
				height: 58px;
				font-size: 36px;
				padding-left: 12px;
				padding-top: 8px;
			}

			#about .social {
				width: 200px;
				margin: 75px auto 0px auto;
			}

			#about h1 {
				text-align: center;
				font-size: 50px;
				font-family: Open Sans;
				margin: 0px;
			}

			.projectrow {
				padding-left: 9.5%;
				display: inline-block;
				text-align: center;
				overflow: hidden;
			}

			#work .piece {
				margin: 25px 0px 0px 25px;
			}

			.col-centered {
				float: left;
			}

			.aboutMe {


			}

			.aboutMe p, .aboutMe li {
				font-size: 16px;
			}

			#work h1 {
				margin-top: 95px;
				font-size: 50px;
			}

			#work .social a {
				width: 58px;
				height: 58px;
				font-size: 36px;
				padding-left: 12px;
				padding-top: 8px;
			}

			.onMobileBrand {
				padding: 15px 0px 0px 0px !important;
			}

			.aboutMeSectionFirst {
				padding: 25px 25px 0px 25px;
			}

			.aboutMeSection {
				padding: 25px 25px 0px 25px;
			}

			.aboutMeSectionAlt {
				padding: 25px 25px 0px 25px;
			}

			.aboutMe h2{
				margin: 0px 2px 0px 2px;
			}

			.aboutMe p{
				margin-bottom: 0px;
				padding-bottom: 25px;
			}

			.aboutMe .frame {
				text-align: center;
			}

			#work .cancel {
				position: absolute;
				display: inline-block;
				margin-top: 0px;
				margin-left:5px;
			}

			#work .cancel img{
				width: 16px;
				height: 16px;
			}

			#work h1.projecttitle {
				font-size: 35px;
				margin-top:30px;
			}

			#work .screenshot {
				width: 100%;
				height: 100%;
				margin-top: 25px;
				display: block;
				margin: 25px auto 0px auto;
			}

			#work .pill {
				margin-top: 15px;
				/*padding: 15px 40px;*/
				border-radius: 500px;
				border: 1px solid black;
				overflow: hidden;
				margin-left: 78px;
				margin-bottom: 15px;
			}

			#work .pill a {
				display: block;
				width: 200px;
				height: 37.5px;
				line-height: 37.5px;
				text-align: center;
				color: black;
				font-size: 16px;
			}

			#work h3 {
				font-size: 16px;
				display: inline-block;
				line-height: 25px;
				margin-top: 15px;
				margin-bottom: 0px;
			}

			#work .description p {
				font-size: 16px;
			}

			#work .container-fluid .pull-right {
				float: left !important;
			}
		}

		@media only screen and (max-width: 375px) {

			.projectrow {
				padding-left: 7%;
			}

			.name {
				font-size: 40px;
			}

			.infoWrapper {
				width: 275px;
			}

			.typerInfo {
				font-size: 14px;
			}

			#home .social a {
				width: 44px;
				height: 44px;
				font-size: 20px;
				padding-top: 5px;
			}

			#about .social a {
				width: 58px;
				height: 58px;
				font-size: 36px;
				padding-left: 12px;
				padding-top: 8px;
			}

			#about .social {
				width: 200px;
				margin: 75px auto 0px auto;
			}

			#about h1 {
				text-align: center;
				font-size: 50px;
				font-family: Open Sans;
				margin: 0px;
			}

			.aboutMe p {
				font-size: 16px;
			}

			#work h1 {
				margin-top: 95px;
				font-size: 50px;
			}

			#work .social a {
				width: 58px;
				height: 58px;
				font-size: 36px;
				padding-left: 12px;
				padding-top: 8px;
			}

			#work .pill {
				margin-left: 54px;
			}

			.onMobileBrand {
				padding: 15px 0px 0px 0px !important;
			}

			.aboutMeSectionFirst {
				padding: 25px 25px 0px 25px;
			}

			.aboutMeSection {
				padding: 25px 25px 0px 25px;
			}

			.aboutMeSectionAlt {
				padding: 25px 25px 0px 25px;
			}

			.aboutMe h2{
				margin: 0px 2px 0px 2px;
			}

			.aboutMe p{
				margin-bottom: 0px;
				padding-bottom: 25px;
			}

			.aboutMe .frame {
				text-align: center;
			}
		}

		@media only screen and (max-width: 360px) {
			.projectrow {
				padding-left: 7%;
			}

			.name {
				font-size: 40px;
			}

			.infoWrapper {
				width: 275px;
			}

			.typerInfo {
				font-size: 14px;
			}

			#home .social a {
				width: 44px;
				height: 44px;
				font-size: 20px;
				padding-top: 5px;
			}

			#about .social a {
				width: 58px;
				height: 58px;
				font-size: 36px;
				padding-left: 12px;
				padding-top: 8px;
			}

			#about .social {
				width: 200px;
				margin: 75px auto 0px auto;
			}

			#about h1 {
				text-align: center;
				font-size: 50px;
				font-family: Open Sans;
				margin: 0px;
			}

			.aboutMe {

			}

			.aboutMe p {
				font-size: 16px;
			}

			#work h1 {
				margin-top: 95px;
				font-size: 50px;
			}

			#work .social a {
				width: 58px;
				height: 58px;
				font-size: 36px;
				padding-left: 12px;
				padding-top: 8px;
			}

			.onMobileBrand {
				padding: 15px 0px 0px 0px !important;
			}
			.aboutMeSectionFirst {
				padding: 25px 25px 0px 25px;
			}

			.aboutMeSection {
				padding: 25px 25px 0px 25px;
			}

			.aboutMeSectionAlt {
				padding: 25px 25px 0px 25px;
			}

			.aboutMe h2{
				margin: 0px 2px 0px 2px;
			}

			.aboutMe p{
				margin-bottom: 0px;
				padding-bottom: 25px;
			}

			.aboutMe .frame {
				text-align: center;
			}

		}


		@media only screen and (max-width: 320px) {

			.projectrow {
				padding-left: 5%;
			}

			.name {
				font-size: 40px;
			}

			.infoWrapper {
				width: 275px;
			}

			.typerInfo {
				font-size: 14px;
			}

			#home .social a {
				width: 44px;
				height: 44px;
				font-size: 20px;
				padding-top: 5px;
			}

			#about .social a {
				width: 58px;
				height: 58px;
				font-size: 36px;
				padding-left: 12px;
				padding-top: 8px;
			}

			#about .social {
				width: 200px;
				margin: 75px auto 0px auto;
			}

			#about h1 {
				text-align: center;
				font-size: 50px;
				font-family: Open Sans;
				margin: 0px;
			}

			.aboutMe {


			}

			.aboutMe p {
				font-size: 16px;
			}

			#work h1 {
				margin-top: 95px;
				font-size: 40px;
			}

			.onMobileBrand {
				padding: 15px 0px 0px 0px !important;
			}

			.aboutMeSectionFirst {
				padding: 25px 15px 0px 15px;
			}

			.aboutMeSection {
				padding: 25px 15px 0px 15px;
			}

			.aboutMeSectionAlt {
				padding: 25px 15px 0px 15px;
			}

			.aboutMe h2{
				margin: 0px 2px 0px 2px;
			}

			.aboutMe p{
				margin-bottom: 0px;
				padding-bottom: 25px;
			}

			.aboutMe .frame {
				text-align: center;
			}

			#work .pill {
				margin-left: 30px;
			}
		}