* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1;
  font-family: Open Sans; }

body {
  background-color: #0b1014;
  width: 1000px;
  height: 100vh;
  margin: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  body nav {
    width: 100%;
    height: 60px;
    background-color: #131414;
    border-bottom: 5px solid #2d3a48;
    color: #fff; }
    body nav ul {
      list-style: none;
      width: 100%;
      height: 100%; }
    body nav li {
      float: left;
      position: relative;
      min-width: 125px;
      text-align: center;
      height: 100%;
      border-right: 1px solid rgba(0, 0, 0, 0.25); }
      body nav li:hover a {
        background: #1b1d1e; }
      body nav li a {
        height: 100%; }
        body nav li a p {
          background-repeat: no-repeat; }
          body nav li a p.snowflake {
            display: inline-block;
            margin-top: 10px;
            width: 23px;
            height: 23px;
            background-image: url(../curse-fe-challenge/assets/nav-icons-sprite.png); }
          body nav li a p.magnet {
            display: inline-block;
            margin-top: 10px;
            width: 23px;
            height: 23px;
            background-image: url(../curse-fe-challenge/assets/nav-icons-sprite.png);
            background-position: -23px 0px; }
          body nav li a p.liquid {
            display: inline-block;
            margin-top: 10px;
            width: 23px;
            height: 23px;
            background-image: url(../curse-fe-challenge/assets/nav-icons-sprite.png);
            background-position: -46px 0px; }
      body nav li ul {
        float: left;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 60px;
        visibility: hidden;
        z-index: 1;
        transition: all .15s ease-in-out; }
        body nav li ul li {
          float: none;
          width: 100%;
          border-bottom: 1px solid rgba(47, 47, 47, 0.2);
          height: auto; }
          body nav li ul li a {
            height: auto;
            padding: 7.5px 0px;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: center;
            -ms-flex-pack: center;
                justify-content: center; }
        body nav li ul a {
          background: #2f2f2f !important; }
          body nav li ul a:hover {
            background: #3d3d3d !important; }
      body nav li:hover ul {
        opacity: 1;
        top: 60px;
        visibility: visible; }
    body nav a {
      display: block;
      font-size: 14px;
      color: #fff;
      text-decoration: none;
      transition: all .15s ease-in-out; }
      body nav a.dropdown:after {
        content: '\25bc';
        color: #6D6D6D;
        position: absolute;
        bottom: 5px;
        right: 5px; }
    body nav .clearfix:after, body nav .clearfix:before {
      content: "";
      display: table; }
    body nav .clearfix:after {
      clear: both; }
  body header {
    padding-top: 85px;
    overflow: hidden; }
    body header .logo {
      display: inline-block; }
    body header .float-right {
      height: 50px;
      float: right; }
      body header .float-right .innerWrap {
        position: relative;
        top: 50%;
        transform: translateY(-50%); }
        body header .float-right .innerWrap > * {
          vertical-align: middle;
          border-radius: 3px;
          border: 0px;
          height: 27px;
          color: #fff; }
        body header .float-right .innerWrap a, body header .float-right .innerWrap .search {
          display: inline-block;
          background-color: #5e84ab;
          width: 27px;
          transition: all .15s ease-in-out; }
          body header .float-right .innerWrap a:hover, body header .float-right .innerWrap .search:hover {
            background-color: #2f4255;
            transition: all .15s ease-in-out; }
        body header .float-right .innerWrap .tw-logo {
          background-image: url(../curse-fe-challenge/assets/social-icons-sprite.png); }
        body header .float-right .innerWrap .fb-logo {
          background-image: url(../curse-fe-challenge/assets/social-icons-sprite.png);
          background-position: 54px 0px; }
        body header .float-right .innerWrap .yt-logo {
          background-image: url(../curse-fe-challenge/assets/social-icons-sprite.png);
          background-position: 27px 0px; }
        body header .float-right .innerWrap input {
          padding-left: 10px;
          font-size: 13px;
          margin-left: 5px; }
        body header .float-right .innerWrap .search {
          width: 69px;
          font-size: 13px;
          font-weight: 600;
          border: 0;
          cursor: pointer; }
  body .newsContainer {
    width: calc(100% - 2px);
    background: url(../curse-fe-challenge/assets/news-bg.png);
    border: 1px solid rgba(30, 31, 32, 0.75); }
    body .newsContainer .newsHeader {
      background: #131414;
      height: 40px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      body .newsContainer .newsHeader p {
        font-size: 12px;
        padding: 14px 20px;
        color: #bababa; }
        body .newsContainer .newsHeader p span {
          color: #6c98c7; }
        body .newsContainer .newsHeader p.title {
          font-size: 20px;
          font-weight: 600;
          color: #fff;
          padding: 10px 20px; }
    body .newsContainer .newsContent {
      color: #cfcfcf;
      padding: 20px;
      font-size: 14px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
      -ms-flex-pack: end;
          justify-content: flex-end; }
      body .newsContainer .newsContent p {
        margin-bottom: 20px;
        -ms-flex: 1 100%;
            flex: 1 100%;
        line-height: 1.5;
        font-size: 14px; }
      body .newsContainer .newsContent button {
        background-color: #5e84ab;
        padding: 7.5px 30px;
        border: 0;
        color: #fff;
        font-weight: 600;
        border-radius: 3px;
        cursor: pointer;
        transition: all .15s ease-in-out; }
        body .newsContainer .newsContent button:hover {
          background-color: #2f4255;
          transition: all .15s ease-in-out; }
  body #talentCalculator {
    background: url(../curse-fe-challenge/assets/talent-calc-bg.png);
    border: 1px solid rgba(30, 31, 32, 0.75);
    padding: 17.5px; }
    body #talentCalculator .calcHeader {
      width: 965px;
      height: 43px;
      background: rgba(19, 20, 20, 0.75);
      margin: auto; }
      body #talentCalculator .calcHeader p {
        text-align: center;
        font-size: 25px;
        color: #fff;
        position: relative;
        top: 50%;
        transform: translateY(-50%); }
    body #talentCalculator .calcContent {
      display: -ms-flexbox;
      display: flex;
      padding-bottom: 40px;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      body #talentCalculator .calcContent .paths .talentPath {
        display: -ms-flexbox;
        display: flex;
        padding: 25px 0px;
        -ms-flex-align: center;
            align-items: center; }
        body #talentCalculator .calcContent .paths .talentPath .title {
          color: #fff;
          font-weight: 600;
          font-size: 13px;
          margin-right: 15px; }
        body #talentCalculator .calcContent .paths .talentPath .talent {
          width: 52px;
          height: 52px;
          border: 5px solid #4c4c4c;
          background-image: url(../curse-fe-challenge/assets/talent-icons-sprite.png); }
          body #talentCalculator .calcContent .paths .talentPath .talent.pathOneStepOne {
            background-position: 0px 50px; }
          body #talentCalculator .calcContent .paths .talentPath .talent.pathOneStepTwo {
            background-position: 350px 50px; }
          body #talentCalculator .calcContent .paths .talentPath .talent.pathOneStepThree {
            background-position: 300px 50px; }
          body #talentCalculator .calcContent .paths .talentPath .talent.pathOneStepFour {
            background-position: 250px 50px; }
          body #talentCalculator .calcContent .paths .talentPath .talent.pathTwoStepOne {
            background-position: 200px 50px; }
          body #talentCalculator .calcContent .paths .talentPath .talent.pathTwoStepTwo {
            background-position: 150px 50px; }
          body #talentCalculator .calcContent .paths .talentPath .talent.pathTwoStepThree {
            background-position: 100px 50px; }
          body #talentCalculator .calcContent .paths .talentPath .talent.pathTwoStepFour {
            background-position: 50px 50px; }
        body #talentCalculator .calcContent .paths .talentPath .connector {
          background-color: rgba(30, 31, 32, 0.75);
          height: 20px;
          width: 104px;
          border-style: solid;
          border-color: rgba(76, 76, 76, 0.3);
          border-width: 1px 1px 1px 0px; }
      body #talentCalculator .calcContent .points {
        width: 176px;
        height: 90px;
        margin-right: 45px;
        border: 1px solid rgba(30, 31, 32, 0.75);
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
        body #talentCalculator .calcContent .points p {
          color: #fff;
          font-size: 23px;
          text-align: center;
          -ms-flex: 1 100%;
              flex: 1 100%; }
          body #talentCalculator .calcContent .points p span {
            color: #6c98c7; }
          body #talentCalculator .calcContent .points p:last-child {
            margin-top: -30px; }
  body footer {
    width: calc(100% - 2px);
    background: #131414;
    height: 80px;
    border: 1px solid rgba(30, 31, 32, 0.75);
    border-bottom: 0px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    body footer .bottomNav {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column; }
      body footer .bottomNav .links {
        overflow: hidden; }
        body footer .bottomNav .links a {
          border-right: 1px solid rgba(255, 255, 255, 0.4);
          color: #fff;
          text-decoration: none;
          padding: 0px 10px;
          transition: all .15s ease-in-out; }
          body footer .bottomNav .links a:first-child {
            padding-left: 15px; }
          body footer .bottomNav .links a:last-child {
            border-right: 0px; }
          body footer .bottomNav .links a:hover {
            transition: all .15s ease-in-out;
            color: #4c4c4c; }
      body footer .bottomNav p {
        color: rgba(255, 255, 255, 0.4);
        padding: 7.5px 0px 5px 15px;
        font-size: 14px; }
    body footer .social {
      padding-right: 15px; }
      body footer .social a {
        display: inline-block;
        background-color: #5e84ab;
        width: 27px;
        border-radius: 3px;
        border: 0px;
        height: 27px;
        transition: all .15s ease-in-out; }
        body footer .social a:hover {
          background-color: #2f4255;
          transition: all .15s ease-in-out; }
      body footer .social .tw-logo {
        background-image: url(../curse-fe-challenge/assets/social-icons-sprite.png); }
      body footer .social .fb-logo {
        background-image: url(../curse-fe-challenge/assets/social-icons-sprite.png);
        background-position: 54px 0px; }
      body footer .social .yt-logo {
        background-image: url(../curse-fe-challenge/assets/social-icons-sprite.png);
        background-position: 27px 0px; }
